<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>This is a demo page for <%= fName %>
    </h1>
    <% if (locals.error) { %>
        <h2>
            <%= locals.message %>: <%= locals.errorMsg %>
        </h2>
        <% } else { %>
            <h2>Hello <%= locals.text ?? 'Vik' %>
            </h2>
            <ul>
                <% locals.data && locals.data.forEach((element, index)=> { %>
                    <% if (index < 10) { %>
                        <li>
                            <strong>
                                <%- element.email %>:
                            </strong>
                            <%=element.body %>
                        </li>
                        <li>
                            <strong>
                                <%= element.email %>:
                            </strong>
                            <%= element.body %>
                        </li>
                        <% } %>
                            <% }) %>
            </ul>
            <% } %>
</body>

</html>